body {
  background-image: url("run.png");
  background-size: cover;
}

h1 {
  font-family: "Bangers", system-ui;
  font-weight: 300;
  font-size: 60px;
  text-align: center;
  margin-top: 90px;
  color: #16252c;
}

h2 {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #16252c;
  margin-bottom: 30px;
}

.footer {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  color: #16252c;
  text-align: center;
}

main {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Toggle container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ff2996;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f5f4ee;
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked (Miles) */
input:checked + .slider {
  background-color: #291efe;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.unit-label {
  margin-left: 10px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  color: #16252c;
}

#output {
  font-size: 40px;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 900;
  color: #16252c;
  margin-top: 30px;
  letter-spacing: 2px;
}

.longdistance {
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
  padding: 14px;
  border-radius: 10px;
  margin: 5px;
  background-color: #16252c;
  border: none;
  color: #f5f4ee;
}

.longdistance:hover {
  cursor: pointer;
  background-color: #696969;
}

.shortdistance {
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
  padding: 14px;
  border-radius: 10px;
  margin: 5px;
  background-color: #16252c;
  border: none;
  color: #f5f4ee;
}

.shortdistance:hover {
  cursor: pointer;
  background-color: #696969;
  transition: all 100ms ease-in-out;
}

@media (max-width: 576px) {
  h1 {
    font-family: "Bangers", system-ui;
    font-weight: 300;
    line-height: 50px;
    font-size: 60px;
    text-align: center;
    max-width: 300px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 240px;
  }

  h2 {
    margin-top: 20px;
  }
}
