h1 {
  font-family: "Bangers", system-ui;
  font-weight: 300;
  font-size: 60px;
  text-align: center;
  margin-top: 150px;
}

h2 {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

main {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Toggle container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked (Miles) */
input:checked + .slider {
  background-color: #366364;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.unit-label {
  margin-left: 10px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
}

button {
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
  padding: 12px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  h1 {
    font-family: "Bangers", system-ui;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
    max-width: 300px;
  }
}
